FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

MONGODB_URI=mongodb://username:password@localhost:27017
MONGODB_DB=my_db

ROOT_USERNAME=username
ROOT_PASSWORD=password

BASICAUTH_ENABLED=true
BASICAUTH_USERNAME=user
BASICAUTH_PASSWORD=pass
